/* .search {
  margin: 1vh;
  width: 25vw;
  color: whitesmoke;
}
 */
.NavBar {
  background-color: blueviolet;
  color: whitesmoke;
  font-family: "Poppins Light", Arial, monospace;
}
Nav NavItem {
  padding: 1rem;
  justify-items: center;
}
