<<<<<<< HEAD
.search {
  margin: 1vh;
  width: 25vw;
=======
/* .search {
  display: inline-flex;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 270px;
>>>>>>> origin/dev
  color: whitesmoke;
}
.NavBar {
  background-color: blueviolet;
  color: whitesmoke;
<<<<<<< HEAD
  font-family: "Poppins Light", Arial, monospace;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 849px) {
  .NavBar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
=======
} */
>>>>>>> origin/dev
